<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head>
</head>
<body>

<header th:fragment="headerFragment">
    <div class="outer">
        <div class="items">
            <a th:href="@{/}">
                <img class="gov-gr-logo" th:src="@{/img/gov_header_logo.svg}" alt="Government Logo" width="40" height="auto">
            </a>
            <span class="title">Coding Factory - Education Reinvented</span>
        </div>
<!--        <div class="login-name">-->
<!--            <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}"></span>-->
<!--            <a class="log-out" th:href="@{/logout}" sec:authorize="isAuthenticated()">Έξοδος</a>-->
<!--        </div>-->
    </div>
    <div class="line"></div>
</header>
</body>
</html>

